@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Lato&family=Lobster&display=swap');

html {
    max-width: 1600px;
    margin: 0 auto;
}
h1, h2, h3, h4, h5, h6 {
    font-family: Lobster;
}
p {
    font-family: Caveat;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    border: 30px ridge #761311;
    padding: 50px;
    margin: 10px;
    justify-self: center;
    justify-items: center;
    text-justify: center;
}
.one {
    grid-column: 1/2;
    grid-row: 1/2;
}
.two {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 400px;
    border-radius: 50%;
    border: 10px double #761311;
    box-shadow: 5px 5px 5px #999;
    text-align: center;
}
.three {
    grid-column: 4/5;
    grid-row: 1/2;
}
.three p {
    text-align: center;
}
.two img {
    text-align: center;
}
.button {
    color: white;
    padding: 1em 1.5em;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: .5em;
    cursor: pointer;
    border: 1px solid #999;
    box-shadow: 2px 2px 2px #999;
    background-color: #761311;
  }
  .button:hover {
    background-color: #E3C3AE;
    color: #000;
    border: 5px double #808080;
    
  }
  .button:active{
    background-color: #266266;
    color: #fff;
    border: 5px inset #000;
    box-shadow: none;
  }
 

@media screen and (max-width: 900px) {
    .hero, .container, .home-grid, .stories-grid, .stories-1, .about-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .hero {
        margin-top: 0;
    }
    .hero-title, .about-hero-title {
        font-size: 25px;
        color: #272A29;
    }
    .card, .right { 
        margin: 50px auto;
        width: 60%;
    }
    .background {
        display: none;
    }
    .last_part {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
  }
  